body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(243, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('admin_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 500px;
    margin: 100px auto;
    padding: 30px;
    background: rgba(132, 29, 29, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #ff1744;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff1744;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #d50000;
}