*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

body{

height:100vh;

background-image:url("welcome.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
justify-content:center;
align-items:center;

}

/* dark overlay */
.overlay{

background:rgba(0,0,0,0.6);

width:100%;
height:100%;

display:flex;
justify-content:center;
align-items:center;

}

/* content box */
.content{

text-align:center;
color:white;

}

.content h1{

font-size:60px;
margin-bottom:10px;
letter-spacing:2px;

}

.content p{

font-size:20px;
margin-bottom:40px;

}

/* buttons */

.buttons{
display:flex;
gap:20px;
justify-content:center;
}

.btn{

padding:15px 30px;
text-decoration:none;
font-size:18px;
border-radius:8px;
transition:0.3s;

}

.book{
background:#5b0c0f;
color:white;
}

.book:hover{
background:#e06060;
}

.admin{
background:black;
color:white;
}

.admin:hover{
background:gray;
}